<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ファイルをアップロードしよう！</title>
  </head>
  <body>
    <h1>ファイルをアップロードしよう！</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="file_upload">ファイルを選択してください</label>
      <input type="file" name="file_upload[]" multiple />
      <br />
      <input type="submit" value="アップロード" />
    </form>
  </body>
</html>
